<app-header title="Логические связи"></app-header>

<app-card title="Существующие логические связи ">
    <a [routerLink]="[new_url]" actions>
        <fa-icon [icon]="addIcon" size="2x" class="color-red"></fa-icon>
    </a>
    
    <fa-icon [icon]="spinnericon" size="2x" [pulse]="true" *ngIf="spinnerShow" class="card-spinner"></fa-icon>
    <p class="card-spinner" *ngIf="!spinnerShow && logicalLinks.length === 0">
        Нет логических связей
    </p>
    <table mat-table [dataSource]="dataSource" *ngIf="!spinnerShow && logicalLinks.length > 0">

        <ng-container matColumnDef="rowAction">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let item">
                <a [routerLink]="[item.id]">
                    <fa-icon [icon]="viewIcon" size="1x" class="color-red"></fa-icon>
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="startRack">
            <th mat-header-cell *matHeaderCellDef>Начало стойка</th>
            <td mat-cell *matCellDef="let item">
                <a [routerLink]="[racks_url, item.start.rack.id]">
                    {{ item.start.rack.name }}
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="startDevice">
            <th mat-header-cell *matHeaderCellDef>Начало оборудование</th>
            <td mat-cell *matCellDef="let item">
                <a [routerLink]="[devices_url, item.start.device.id]">
                    {{ item.start.device.name }}
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="startInterface">
            <th mat-header-cell *matHeaderCellDef>Начало порт</th>
            <td mat-cell *matCellDef="let item">
                {{ item.start.interface.name }}
            </td>
        </ng-container>

        <ng-container matColumnDef="endRack">
            <th mat-header-cell *matHeaderCellDef>Конец стойка</th>
            <td mat-cell *matCellDef="let item">
                <a [routerLink]="[racks_url, item.start.rack.id]">
                    {{ item.end.rack.name }}
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="endDevice">
            <th mat-header-cell *matHeaderCellDef>Конец оборудование</th>
            <td mat-cell *matCellDef="let item">
                <a [routerLink]="[devices_url, item.start.device.id]">
                    {{ item.end.device.name }}
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="endInterface">
            <th mat-header-cell *matHeaderCellDef>Конец порт</th>
            <td mat-cell *matCellDef="let item">
                {{ item.end.interface.name }}
            </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Тип</th>
            <td mat-cell *matCellDef="let item">
                {{ item.start.interface.type | humanView }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</app-card>

