<app-header title="Детали помещения"></app-header>
<div class="row">
  <div class="w-100">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          {{ room.title }}
        </h3>
        <div class="card-actions" >
          <a [routerLink]="['/rooms', 'edit', room.id]" class="link">
            Изменить
          </a>
          <a class="link color-red" (click)="onDelete()">
            Удалить
          </a>
        </div>
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="w-100">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          Стойки
        </h3>
      </div>
      <div class="card-body">
        <fa-icon [icon]="spinnerIcon" size="2x" [pulse]="true" *ngIf="spinnerShow" class="card-spinner"></fa-icon>
        <app-room-rack *ngFor="let rack of racks" [rack]="rack"></app-room-rack>
        <p *ngIf="!spinnerShow && racks.length === 0" class="card-spinner">
          В помещении пока нет стоек
        </p>
      </div>
    </div>
  </div>
</div>
