<div class="rectangle">
  <div class="rectangle-left" (click)="onShow()">
    <fa-icon [icon]="rackIcon" class="color-green rectangle-icon" size="2x" ></fa-icon>
    {{ rack.name }}
  </div>
  <div class="rectangle-right">
    <button class="rectangle-btn" (click)="btnClick()">
      <fa-icon [icon]="dotsIcon"  size="xs"></fa-icon>
    </button>
    <div class="rectangle-menu" *ngIf="menuShow">
      <ul>
        <li (click)="onEdit()">
          <a>Изменить</a>
        </li>
        <li (click)="onDelete()">
          <a>Удалить</a>
        </li>
      </ul>
    </div>
  </div>
</div>
