<app-header title="Стойки"></app-header>
<div class="row">
  <div class="w-100">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          Созданные стойки
        </h3>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <td>Название</td>
              <td>Помещение</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rack of racks">
              <td>
                {{ rack.name }}
              </td>
              <td>
                <a [routerLink]="[rooms_url, rack.room.id]" >
                  {{ rack.room.title }}
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
