<app-header title="Детали логической связи"></app-header>

<app-card [title]="title">
    <a class="link color-red" (click)="onDelete()" actions>
        {{ delete_txt }}
    </a>
    <div class="row w-100" body>
        <div class="w-33">
            <table class="table">
                <thead>
                    <tr>
                        <td>Начало</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Стойка</td>
                        <td>
                            <a [routerLink]="[racks_url, logicalLink.start.rack.id]">
                                {{ logicalLink.start.rack.name }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Оборудование</td>
                        <td>
                            <a [routerLink]="[devices_url, logicalLink.start.device.id]">
                                {{ logicalLink.start.device.name }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Интерфейс</td>
                        <td>
                            {{ logicalLink.start.interface.name }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="w-33"></div>
        <div class="w-33">
            <table class="table">
                <thead>
                    <tr>
                        <td>Конец</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Стойка</td>
                        <td>
                            <a [routerLink]="[racks_url, logicalLink.end.rack.id]">
                                {{ logicalLink.end.rack.name }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Оборудование</td>
                        <td>
                            <a [routerLink]="[devices_url, logicalLink.end.device.id]">
                                {{ logicalLink.end.device.name }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Интерфейс</td>
                        <td>
                            {{ logicalLink.end.interface.name }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</app-card>