<app-header title="Детали стойки" ></app-header>
<div class="row">
  <div class="w-100">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          {{ rack.name }}
        </h3>
        <div class="card-actions">
          <a [routerLink]="['/racks', 'edit', rack.id]" class="link">
            Изменить
          </a>
          <a class="link color-red" (click)="onDelete()">
            Удалить
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="w-50">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          Оборудование
        </h3>
      </div>
    </div>
  </div>
  <div class="w-50">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          Патчпанели
        </h3>
      </div>
    </div>
  </div>
</div>

