<div class="header">
  <h1 class="header-h1">
    Изменить помещение: {{ room.title }}
  </h1>
</div>
<div class="row">
  <div class="w-100">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          Параметры помещения
        </h3>
      </div>
      <div class="card-body">
        <fa-icon [icon]="spinnerIcon" size="2x" [pulse]="true" *ngIf="spinnerShow" class="card-spinner"></fa-icon>
        <app-rooms-form class="w-100" (submitEvent)="onSubmit($event)"
                        *ngIf="!spinnerShow"
                        (resetEvent)="onReset()"
                        [room]="room" >
        </app-rooms-form>
      </div>
    </div>
  </div>
</div>
