<app-card title="Интерфейсы">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" actions>
    <div class="form-control">
      <input class="form-input form-input_inline" formControlName="name">
      <button class="button form-submit form-submit_inline" type="submit">
        Добавить
      </button>
    </div>
  </form>

  <fa-icon [icon]="spinnerIcon" size="2x" [pulse]="true"
            *ngIf="spinnerShow" class="card-spinner"></fa-icon>
  <p class="card-spinner" *ngIf="!spinnerShow && dataSource.data.length === 0">
    Нет интерфейсов
  </p>

  <table mat-table [dataSource]="dataSource" *ngIf="!spinnerShow && dataSource.data.length > 0"
    matSort (matSortChange)="sortFunction($event)">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Название</th>
      <td mat-cell *matCellDef="let item">
        {{ item.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="connected">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Подключен?</th>
      <td mat-cell *matCellDef="let item">
        {{ item.connected | humanView }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let item">
        <a (click)="onDelete(item.id)">
          <fa-icon [icon]="trashIcon" size="1x"></fa-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons footer>
  </mat-paginator>
</app-card>