<app-header title="Детали патчпанели"></app-header>
<div class="row">
  <div class="w-100">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          {{ patchpanel.name }}
        </h3>
        <div class="card-actions">
          <a [routerLink]="['/patchpanels', 'edit', patchpanel.id]" class="link">
            Изменить
          </a>
          <a class="link color-red" (click)="onDelete()">
            Удалить
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="row w-33">
          <table class="table">
            <tbody>
            <tr>
              <td>Помещение</td>
              <td>
                <a [routerLink]="[rooms_url, room.id]">
                  {{ room.title }}
                </a>
              </td>
            </tr>
            <tr>
              <td>Стойка</td>
              <td>
                <a [routerLink]="[racks_url, patchpanel.rack.id]">
                  {{ patchpanel.rack.name }}
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-patchpanel-interfaces [patchpanel]="patchpanel" ></app-patchpanel-interfaces>
