<app-header title="Новый патчкорд"></app-header>

<app-card title="Параметры нового патчкорда">
    <form [formGroup]="form" class="form">
        <div class="form-control">
            <label class="form-label">Помещение</label>
            <select class="form-input" (change)="onChangeRoom()" formControlName="room">
                <option [ngValue]="null">Выберите помещение</option>
                <option *ngFor="let room of rooms" [ngValue]="room.id">
                    {{ room.title }}
                </option>
            </select>
        </div>

        <div class="form-control w-100">
            <div class="w-50">
                <div class="form-control">
                    <label class="form-label">Стойка (начало)</label>
                    <select class="form-input" (change)="onChangeRack('start')" formControlName="rackStart">
                        <option [ngValue]="null" selected>Выберите стойку</option>
                        <option *ngFor="let rack of racks" [ngValue]="rack.id">
                            {{ rack.name }}
                        </option>
                    </select>
                </div>

                <div class="form-control">
                    <label class="form-label">Оборудование (начало)</label>
                    <select class="form-input" (change)="onChangeOwner('start')" formControlName="ownerStart">
                        <option [ngValue]="null">Выберите оборудование</option>
                        <option *ngFor="let item of ownersStart" [ngValue]="item.id">
                            {{ item.name }}
                        </option>
                    </select>
                </div>

                <div class="form-control">
                    <label class="form-label">Интерфейс (начало)</label>
                    <select class="form-input" formControlName="interfaceStart">
                        <option [ngValue]="null" >Выберите интерфейс</option>
                        <option *ngFor="let item of interfacesStart" [ngValue]="item.id">
                            {{ item.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="w-50">
                <div class="form-control">
                    <label class="form-label">Стойка (конец)</label>
                    <select class="form-input" (change)="onChangeRack('end')" formControlName="rackEnd">
                        <option [ngValue]="null">Выберите стойку</option>
                        <option *ngFor="let item of racks" [ngValue]="item.id">
                            {{ item.name }}
                        </option>
                    </select>
                </div>

                <div class="form-control">
                    <label class="form-label">Оборудование (конец)</label>
                    <select class="form-input" (change)="onChangeOwner('end')" formControlName="ownerEnd">
                        <option [ngValue]="null">Выберите оборудование</option>
                        <option *ngFor="let item of ownersEnd" [ngValue]="item.id">
                            {{ item.name }}
                        </option>
                    </select>
                </div>

                <div class="form-control">
                    <label class="form-label">Интерфейс (конец)</label>
                    <select class="form-input" formControlName="interfaceEnd">
                        <option [ngValue]="null" >Выберите интерфейс</option>
                        <option *ngFor="let item of interfacesEnd" [ngValue]="item.id">
                            {{ item.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </form>

    <div class="form-actions" footer>
        <button type="submit" class="button form-submit" [disabled]="!form.valid" (click)="onSubmit()">
            Сохранить
        </button>
        <button type="reset" class="button form-reset" (click)="onReset()">
            Отмена
        </button>
    </div>

</app-card>