<app-header title="Патчпанели"></app-header>
<div class="row">
  <div class="w-100">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          Существующие патчпанели
        </h3>
        <div class="card-actions">
          <a [routerLink]="[new_url]">
            <fa-icon [icon]="addIcon" size="2x" class="color-red"></fa-icon>
          </a>
        </div>
      </div>
      <div class="card-body">
        <fa-icon [icon]="spinnerIcon" size="2x" [pulse]="true" *ngIf="spinnerShow" class="card-spinner"></fa-icon>
        <table class="table" *ngIf="!spinnerShow">
          <thead>
            <tr>
              <td>Название</td>
              <td>Стойка</td>
              <td>Материал</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of patchpanels">
              <td>
                <a [routerLink]="[item.id]">
                  {{ item.name }}
                </a>
              </td>
              <td>
                <a [routerLink]="[racks_url, item.rack.id]">
                  {{ item.rack.name }}
                </a>
              </td>
              <td>
                {{ item.type | humanView }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
