<div class="rectangle">
  <div class="rectangle-left" (click)="onShow()">
    <fa-icon [icon]="roomIcon" class="color-green rectangle-icon" size="2x"></fa-icon>
    {{ room.title }}
  </div>
  <div class="rectangle-right">
    <button class="rectangle-btn" (click)="btnClick()">
      <fa-icon [icon]="dotsIcon"  size="xs"></fa-icon>
    </button>
    <div class="menu" *ngIf="menuShow" >
      <ul>
        <li>
          <a (click)="onEdit()">Изменить</a>
        </li>
        <li>
          <a (click)="onDelete()">Удалить</a>
        </li>
      </ul>
    </div>
  </div>
</div>


