/* You can add global styles to this file, and also import other style files */
:root {
  --brown1: rgba(248,246,242,.3);
  --brown2: #F8F6F2;
  --brown3: #F6F1E9;
  --brown4: #DAD3C3;
  --brown5: #968E7E;
  --brown6: #8E887A;
  --brown7: #403D38;
  --brown8: #211F1C;
  --brandRed: #f06445;
  --brandGreen: #4fc9da;
  --brandGreen-light: rgb(199, 232, 243);
  --brandGreen-dark: #30a6b6;
  --light: rgba(248,246,242,.3);
  --dark: #f6f1e9;
  --dark-hover: #f6f1e9;
  --textDark: #211f1c;
  --textLight: #968e7e;
  --textMain: #716d66;
  --textWhite: #FFFFFF;
  --fontRegular: Ubuntu, Helvetica, sans-serif;
  --fontHeader: "Source Sans Pro", Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--fontRegular);
  font-size: 20px;
  font-weight: 500;
}

@font-face {
  font-family: "Ubuntu";
  src: url("assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
}
