/* You can add global styles to this file, and also import other style files */
:root {
  --brown1: rgba(248,246,242,.3);
  --brown2: #F8F6F2;
  --brown3: #F6F1E9;
  --brown4: #DAD3C3;
  --brown5: #968E7E;
  --brown6: #8E887A;
  --brown7: #403D38;
  --brown8: #211F1C;
  --brandRed: #f06445;
  --brandRed-light: #F2A18F;
  --brandRed-dark: #B04A33;
  --brandGreen: #4fc9da;
  --brandGreen-light: rgb(199, 232, 243);
  --brandGreen-dark: #30a6b6;
  --light: rgba(248,246,242,.3);
  --dark: #f6f1e9;
  --dark-hover: #f6f1e9;
  --textDark: #211f1c;
  --textLight: #968e7e;
  --textMain: #716d66;
  --textWhite: #FFFFFF;
  --fontRegular: Ubuntu, Helvetica, sans-serif;
  --fontHeader: "Source Sans Pro", Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--fontRegular);
  font-size: 20px;
  font-weight: 500;
}

@font-face {
  font-family: "Ubuntu";
  src: url("assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
}


.mat-paginator {
  background: none;
  width: 100%;
  

  & .mat-paginator-container {
    padding: 0;
  }

  & .mat-paginator-page-size-label {
    font-size: 16px;
  }

  & .mat-paginator-range-label {
    font-size: 16px;
  }

  & .mat-select-min-line {
    font-size: 16px;
  }

  & .mat-form-field-wrapper {
    font-size: 16px;
  }

  & .mat-option-text {
    font-size: 16px;
  }
  
}
.mat-option-text {
  font-size: 16px;
}

.mat-sort-header {
  & .mat-sort-header-container {
    justify-content: center;
  }
}

.mat-sort-header:first-child {
  & .mat-sort-header-container {
    justify-content: start;
  }
}

.mat-sort-header:last-child {
  & .mat-sort-header-container {
    justify-content: end;
  }
}

table.mat-table {
  width: 100%;
  background: none;

  & .mat-header-row {
      height: 50px;
      text-transform: uppercase;
      color: var(--brown7);
      border: none;
  }

  & .mat-header-cell {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      overflow: inherit;
      flex: min-content;
      border: none;

      &:first-child {
        text-align: left;
        padding: 0;
      }

      &:last-child {
        text-align: right;
        padding: 0;
      }
  }

  & .mat-row {
    height: 50px;
    // border: none;
  }

  & .mat-cell {
    text-align: center;
    color: var(--brown7);
    font-size: 18px;
    flex: min-content;
    border: none;
    border-top: 1px dashed var(--brown4);

    &:first-child {
      text-align: left;
      padding: 0;
    }

    &:last-child {
      text-align: right;
      padding: 0;
    }

    &>a {
      color: var(--brown7);
      text-decoration: none;
      font-size: 18px;

      &:hover {
        color: var(--brandGreen);
      }
    }
  }
}