.private {
  display: flex;
  min-height: 100vh;

  &-container {
    width: calc(100vw - 300px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--brown1);
    position: relative;
    left: 300px;
  }

  &-main {
    padding: 0 30px;
    min-height: calc(100vh - 80px);
    overflow: auto;
  }
}

.header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  &-h1 {
    color: var(--textDark);
    font-size: 24px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: var(--brown2);
  border: 1px dashed var(--brown4);
  border-radius: 12px;
  padding: 12px 20px;
  min-width: 0;
  display: flex;
  flex-direction: column;

  &-header {
    display: flex;
    min-height: 50px;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }

  &-title {
    font-weight: 700;
    color: var(--brown6);
  }

  &-actions {

  }

  &-body {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 32px;
  }

  &-footer {

  }

  &-spinner {
    color: var(--brown4);
    margin: 24px auto 0;
    font-size: 16px;
  }
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.color {
  &-green {
    color: var(--brandGreen);

    &:hover {
      color: var(--brandGreen-dark);
    }
  }

  &-red {
    color: var(--brandRed);

    &:hover {
      color: var(--brandRed-dark)
    }
  }
}

.button {
  padding: 8px 12px;
  border-radius: 12px;
  border: 1px solid var(--brandGreen);
  cursor: pointer;
  outline: none;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;

  &-control {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
  }

  &-label {
    text-align: left;
    color: var(--textDark);
    margin-bottom: 6px;
    font-size: 16px;
    flex: 0 0 200px;
  }

  &-value {
    flex: 1 0 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  &-input {
    background-color: var(--dark);
    border: 1px solid var(--dark);
    border-radius: 12px;
    color: var(--textLight);
    padding: 10px 20px;

    &:focus {
      outline: none;
      filter: brightness(98%);
    }

    &.ng-invalid.ng-touched {
      border: 1px solid var(--brandRed);
    }

    &:disabled {
      background-color: var(--light);
    }
  }

  &-actions {
    display: flex;
    justify-content: space-between;
  }

  &-submit {
    width: 200px;
    background-color: var(--brandGreen)!important;
    color: var(--textWhite)!important;
    border-color: var(--brandGreen);

    &:hover:enabled {
      background-color: var(--brandGreen-dark)!important;
    }

    &:disabled {
      background-color: var(--brandGreen-light)!important;
    }
  }

  &-reset {
    width: 200px;
    background-color: var(--brown3)!important;
    color: var(--brown7)!important;
    border-color: var(--brown3);

    &:hover:enabled {
      background-color: var(--brown4)!important;
    }

    &:disabled {
      background-color: var(--brown2)!important;
    }
  }

  &-warning {
    color: var(--brandRed);
    text-align: left;
    margin-top: 4px;
    min-height: 20px;

    &_text {
      font-size: 14px;
    }
  }
}

.breadcrumb {
  display: flex;
  align-items: center;
  list-style: none;

  &>li {
    margin-top: 8px;
    margin-right: 16px;

    &:not(:first-child) {
      list-style-type: '-';
      padding-left: 8px;
    }
  }

  &-link {
    font-size: 14px;
    color: var(--brown6);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &-last {
    font-weight: bolder;
    font-size: 14px;
    color: var(--brown6);
    text-decoration: none;
  }
}

.table {
  width: 100%;

  &>thead {
    color: var(--brown7);
    text-transform: uppercase;

    &>tr {
      height: 50px;

      &>td {
        text-align: center;
        font-size: 16px;
        font-weight: bold;

        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }
      }
    }
  }

  &>tbody {
    &>tr {
      height: 50px;

      &>td {
        border-top: 1px dashed var(--brown4);
        text-align: center;
        color: var(--brown7);
        font-size: 18px;

        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }

        &>a {
          color: var(--brown7);
          text-decoration: none;
          font-size: 18px;

          &:hover {
            color: var(--brandGreen);
          }
        }
      }
    }
  }
}

.rectangle {
  border: 1px dashed var(--brown4);
  border-radius: 12px;
  background-color: transparent;
  min-width: 350px;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  margin-right: 32px;
  margin-bottom: 32px;
  position: relative;

  &-left {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &-right {
    margin-left: 24px;
  }

  &-icon {
    margin-right: 12px;
  }

  &-btn {
    background-color: var(--brown3);
    color: var(--brown5);
    padding: 1px 6px;
    border-radius: 6px;
    box-shadow: none;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: var(--brandGreen-light);
    }
  }

  &-menu {
    position: absolute;
    background-color: white;
    z-index: 1;
    padding: 16px 16px;
    border-radius: 12px;
    right: 22px;
    top: 60px;
    min-width: 185px;
    box-shadow: 0 0 50px 0 var(--brown4);

    &>ul {
      list-style: none;
    }

    &>ul>li {
      margin: 16px 0;
      width: 100%;
      padding: 8px;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: var(--brandGreen-light);
        color: var(--brandGreen-dark);
      }

      &>a {
        font-weight: lighter;
        font-size: 16px;
        color: var(--brown7);
        text-decoration: none;
      }
    }
  }
}

